::-webkit-input-placeholder {
    color: blue;
}

::-webkit-scrollbar {
    width: 10px;
}

section .form-contato {
    width: 700px;
    display: block;
    margin: 0 auto;
}

section label {
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
}

section .input-contato {
    width: 300px;
    height: 20px;
}

.form-inline div {
    display: inline-block;
    margin: 10px;
}

section .textarea-contato {
    width: 625px;
    resize: none;
}

.form-inline .botao-contato {
    background-color: #FFB90F;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 35px;
    font-size: 20px;
}