.header {
    background-color: aquamarine;
    height: 150px;
    margin-bottom: 15px;
}
.div1 {
    background-color: blueviolet;
    height: 150px;
    margin-bottom: 15px;
}
.div2 {
    background-color: salmon;
    height: 150px;
    margin-bottom: 15px;
}
.div3 {
    background-color: sandybrown;
    height: 150px;
    margin-bottom: 15px;
}
footer {
    background-color: aquamarine;
    height: 100px;
}